.lista-array-container {
  background-color: brown;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-array {
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  border: none;
}

.btn-array {
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
}
