.filter-post {
  background-color: aqua;
  padding: 10px;
}

.input-post {
  padding: 10px;
  margin: 10px 0;
}

h3 {
  font-size: 1.5em;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-post {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border: 5px;
  cursor: pointer;
}
