.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .btn {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
} */
