.reloj {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: rotate 60s linear infinite;
}
