.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.input-rojo {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  border-radius: 5px;
}
