.resumen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.resumen-container h2 {
  margin: 0 10px;
}

.container-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.btn-componente {
  background-color: brown;
  color: white;
  padding: 5px 10px;
}
